#menu
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 4%;
	background-color: red;
	overflow: hidden;

}

li a
{
	text-decoration: none;
	color: white;
	font-style: normal;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-decoration: none;
	padding: 1%;
}

li a:hover
{
	background-color: black;
}


li
{
	display: inline;
	border-right: 1px solid white;
}


li:last-child
{
	border-right: none;
}

h1
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	border-collapse: separate;
	border-spacing: 16px 0;
	border-spacing: 1rem 0;
	color: black;
	display: table;
	line-height: .1;
	margin: 1em 0 .5em;
	table-layout: auto;
	text-align: center;
	white-space: nowrap;
	width: 100%;
}

h1::before,h1::after{
	border-top: 3px double red;
	content: '';
	display: table-cell;
	width: 50%;
	border-top-style: solid;
}

h1:hover{
	color: red;
}

#logo
{
	float: left;
	padding-left: 1%;
	padding-right: 1%;
}

#wallpaper
{
	padding-top: 10%;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
  }

  
.row::after {
	content: "";
	clear: both;
	display: table;
  }

  .row {
	display: flex;
  }
  
  .column {
	flex: 33.33%;
	padding: 5px;
  }


  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

input[type=text], select, textarea {
	width: 100%; 
	padding: 12px;  
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical;
  }
  
 
  input[type=submit]{
	background-color: red;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family:"Comic Sans MS", cursive, sans-serif;
  }

  input[type=reset]{
	background-color: gray;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: "Comic Sans MS", cursive, sans-serif;
  }
  

  input[type=submit]:hover {
	background-color:black;
  }

  input[type=reset]:hover {
	background-color: black;
  }
  
 
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
  }

  p {
	  font-family: "Comic Sans MS", cursive, sans-serif;
  }

  #QR:hover {
	animation: shake 0.5s; 
  
	animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
